# Pin because of reorganiztion of RuptureContext in v3.19
# openquake-engine<3.19

boto3
jsonschema
rdflib
gmprocess

# USGS repositories
# git+https://github.com/usgs/MapIO@master#egg=mapio
# git+https://github.com/usgs/earthquake-impact-utils@main#egg=earthquake-impact-utils
# git+https://github.com/usgs/libcomcat@master#egg=libcomcat
# git+https://github.com/usgs/ps2ff@master#egg=ps2ff
